header{
  background-color: #383838;
  color: #dddddd;
  width:100%;
  height: 50px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo{
 margin-left: 1%;
 font-family: 'Playfair Display', serif;
 font-weight: normal;
}

.tools{
  margin-right: 2%;
  width: 50%;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}

.toolButton{
  border-style: none;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
}

.cardSmall{
  width: 250px;
  height: 250px;
  padding: 15px;
  margin: 15px;
  display: inline-flex;
  flex-direction: row;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 3px #ccc;
}

.cardSmallImage{
  height: 100%;
  width: 125px;
  overflow: hidden;
  border-radius: 3px;
  margin-right: 5px;
}

.thumbnail{
  height: 100%;
}

.cardSmallText{
  text-align: left;
  position: relative;
  width: 120px;
  margin: 0px;
  padding: 0px;
}

.cardSmallHeader{
  font-family: 'Playfair Display', serif;
  font-size: 0.8em;
  position: absolute;
  margin: -21px 0 0 5px;
  padding: 0px;
}

.cardSmallPar{
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  margin: 55px 0 0 5px;
  padding: 0px;
  bottom: 35px;
}

.cardSmallH2{
  font-size: 1em;
  margin:0px;
  padding: 0px;
}

.cardSmallH3{
  font-size: 0.7em;
  margin:0px;
  padding: 0px;
}

.cardSmallH4{
  font-size: 0.7em;
  margin:0px;
  padding: 0px;
}

.cardBigH2{
  font-size: 1em;
  margin:0px;
  padding: 0px;
}

.cardBigH3{
  font-size: 0.9em;
  margin:0px;
  padding: 0px;
}

.infoButton{
  font-family: 'Source Sans Pro', sans-serif;
  color: #777;
  background-color: #ddd;
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0px;
  padding: 0;
  margin: 0 0 0 5px;
  border-radius: 3px;
  border-style: none;
}

.modalContent{
  text-align: center;
}

.modalHeader{
  font-family: 'Playfair Display', serif;
  font-size: 1em;
}

.modalImage{
  width: 90%;
  border-radius: 3px;
  margin: 5px;
}

.modalText{
  display: inline-flex;
  flex-direction: row;
  margin-top: 40px;
}

.openingHours{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
  text-align: right;
  padding-right: 5px;
  border-right: 2px solid #777;
}

.info{
  text-align: left;
  padding: 0 5px 0 5px;
  font-size: 0.8em;
}

.closeButton{
  font-family: 'Source Sans Pro', sans-serif;
  color: #777;
  background-color: #ddd;
  width: 90%;
  height: 40px;
  margin-top: 60px;
  border-radius: 3px;
  border-style: none;
}

footer{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9em;
  padding: 10px 0px 10px 0px;
  background-color: #ddd;
  color: #666666;
}
